<h2>Articles</h2>
<p><em>(I'm currently working on migrating various articles I've written from other places, so for now this is incomplete.)</em></p>
<ul>
  <li><a href="/articles/empathizing">On empathizing & understanding</a> <time>May 14, 2018</time></li>
  <li><a href="/articles/year-one-handmade-shop">Year one with a handmade shop</a> <time>January 3, 2018</time></li>
</ul>