<h2>Articles</h2>

<ul>
<% Dir.glob('posts/*.md').sort.reverse.each do |file| %>
  <% 
    metadata = YAML.load_file(file)
    parts = file.gsub('posts/','').split('.')
  %>
   <li><a href="/articles/<%= parts[1] %>"><%= metadata['title'] %></a> <time><%= Date.parse(parts[0]).strftime('%B %e, %Y') %></time></li>
<% end %>
</ul>