<h2>Health</h2>
<p>In 2019 I'm laser focused on living a healthier and more sustainable lifestyle. I've always struggled with getting regular exercise as well as having a healthy weight.</p>
<p>I'm currently training for a marathon and also working on losing 50 pounds. 🎉</p>

<h3>Weight loss</h3>
<p>As of January 1, 2019, I'm 231 pounds with 30% body fat. At 6' 1", those numbers mean I'm considered obese.</p> 

<p>I'm following the slow carb diet (<a href="https://tim.blog/2012/07/12/how-to-lose-100-pounds/">as popularized by Tim Ferris</a>) and my goal weight is 180 pounds with 20% body fat.</p>

<p>Once I get a few weeks under my belt, I'll include a graph here showing progress.</p>

<h3>Marathon Training</h3>
<p>If you're interested in following along with my marathon training, I use Strava to track all my runs. I'm training for the <a href="https://www.bhm262.com">BHM26.2</a> on April 14, 2019.</p>

<iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/17279142/latest-rides/5781531eac00dcf91b227574103d4d1dbca70467'></iframe>