<h2>What I'm working on</h2>
<ul>
  <li><a href="https://baremetrics.com">Baremetrics</a></li>
  <li><a href="https://cedarandsail.com">Cedar & Sail</a></li>
  <li><a href="https://lasertweets.co">Laser Tweets</a></li>
  <li><a href="http://forgeandfabricate.com">Forge & Fabricate</a></li>
  <li><a href="https://droptune.co">Droptune</a></li>
  <li><a href="https://founderchats.com">Founder Chats</a></li>
  <li><a href="https://rockburg.com">Rockburg</a></li>
</ul>

<p>Get the full rundown <a href="/now">on my Now page &rarr;</a></p>

<hr>

<h2>Health</h2>
<p>I'm putting a great deal of effort in to getting healthy this year. <a href="/health">Follow along &rarr;</a></p>

<hr>

<h2>Interviews</h2>
<p>Over the years I've <a href="/interviews">done some 40+ interviews</a>, mostly about business.</p>

<hr>

<h2>Talks</h2>
<ul>
  <li><a href="https://speakerdeck.com/shpigford/4-signs-your-business-is-dying">4 Signs Your Business is Dying</a> (BaconBiz in Philadelphia, PA) <time datetime="2014-05-30">May 30, 2014</time></li>
  <li><a href="https://vimeo.com/94623532">From Idea to $5000 a Month in 5 Months</a> (MicroConf in Las Vegas, NV) <time datetime="2014-04-14">Apr 14, 2014</time></li>
  <li><a href="https://speakerdeck.com/shpigford/products-ship-em-and-kill-em-fast-and-frequently">Products: Ship ‘em & Kill ‘em Fast & Frequently</a> (WinterCamp in New Orleans, LA) <time datetime="2013-02-21">Feb 21, 2013</time></li>
</ul>

<hr>

<h2>Past projects</h2>
<p>I've been a professional maker of things for 15+ years. <a href="/past">See a thorough list of everything I've ever made &rarr;</a></p>

<hr>

<h2>Podcasts</h2>
<p>I listen to way too many podcasts. <a href="/podcasts">See what I'm listening to</a> so you can also listen to way too many podcasts.</p>

<hr>

<h2>Get in touch</h2>
<p>I try to stay pretty accessible, but it may take a week or two to respond. Best ways to get in touch are on Twitter at <a href="http://twitter.com/Shpigford">@Shpigford</a> or via email at <a href="mailto:josh@joshpigford.com">josh@joshpigford.com</a>.</p>