<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Josh Pigford</title>
  <meta name="description" content="Josh Pigford">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://joshpigford.com">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@shpigford">
  <meta name="twitter:creator" content="@shpigford">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="notice">I'm actively redoing my personal site. So it's going to look downright nasty for a bit.</div>

  <div class="content"><%= yield %></div>
</body>
</html>