<h1>Gear</h1>
<p>Here's most of the things I use regularly to make all the things!</p>

<h3>Apple</h3>
<p>These warrant their own category...for better or worse!</p>
<ul>
  <li><a href="https://www.apple.com/imac/">iMac (Retina 5K, 27-inch, 2017)</a></li>
  <li><a href="https://www.apple.com/ipad-pro/">iPad Pro (11-inch)</a></li>
  <li><a href="https://www.apple.com/apple-pencil/">Apple Pencil</a></li>
  <li><a href="https://www.apple.com/iphone-11-pro/">iPhone 11 Pro</a></li>
  <li><a href="https://www.apple.com/airpods-pro/">AirPods Pro</a></li>
</ul>

<h3>Audio/Video/Podcasting</h3>
<p>These are things I use primarily for podcasting, but also for some hobby electronic music creation.</p>
<ul>
  <li><a href="https://dbxpro.com/en/products/286s">DBX 286S Preamp</a></li>
  <li><a href="https://www.m-audio.com/products/view/studiophile-av-40">M-Audio Studiophile AV 40 Studio Monitors</a></li>
  <li><a href="https://www.behringer.com/Categories/Behringer/Computer-Audio/Interfaces/UMC404HD/p/P0BK1">Behringer U-Phoria UMC404HD Audio Interface</a></li>
  <li><a href="https://www.logitech.com/en-us/product/hd-pro-webcam-c920s">Logitech C920</a></li>
  <li><a href="https://www.audio-technica.com/cms/wired_mics/b8dd84773f83092c/index.html">Audio-Technica ATR2100-USB</a></li>
  <li><a href="https://www.akaipro.com/mpk-mini-mkii">Akai MPK Mini MKII MIDI Keyboard</a></li>
  <li><a href="https://www.audio-technica.com/cms/headphones/75b2f282c93a7651/index.html">Audio-Technica ATH-M40x Headphones</a></li>
</ul>

<h3>Maker</h3>
<p>The tools I use to design, prototype and produce physical products!</p>
<ul>
  <li><a href="https://glowforge.us/r/JTTLXZSA">Glowforge Plus</a></li>
  <li><a href="https://www.creality3d.shop/products/creality-cr-10s-diy-desktop-3d-printer-300x300x400mm">Creality CR-10S</a></li>
  <li><a href="https://www.inventables.com/technologies/x-carve">X-Carve</a></li>
</ul>

<h3>Software</h3>
<p>Apps I use just about every day.</p>
<ul>
  <li><a href="https://1password.com">1Password</a></li>
  <li><a href="https://www.adobe.com/creativecloud.html">Adobe Creative Cloud</a></li>
  <li><a href="https://getcleanshot.com">CleanShot</a></li>
  <li><a href="https://deepnest.io">Deepnest</a></li>
  <li><a href="https://www.dropbox.com">Dropbox</a></li>
  <li><a href="https://www.figma.com">Figma</a></li>
  <li><a href="https://www.autodesk.com/products/fusion-360/overview">Fusion 360</a></li>
  <li><a href="https://www.notion.so">Notion</a></li>
  <li><a href="https://www.simplify3d.com">Simplify3D</a></li>
  <li><a href="https://www.sketch.com">Sketch</a></li>
  <li><a href="https://slack.com">Slack</a></li>
  <li><a href="https://soulver.app">Soulver</a></li>
  <li><a href="https://www.sublimetext.com">Sublime Text</a></li>
  <li><a href="https://superhuman.com">Superhuman</a></li>
  <li><a href="https://culturedcode.com/things/">Things</a></li>
  <li><a href="https://trello.com">Trello</a></li>
  <li><a href="https://zoom.us">Zoom</a></li>
</ul>