<h2>Gear</h2>
<p>Here's most of the things I use regularly to make all the things!</p>

<h3>Apple</h3>
<p>These warrant their own category...for better or worse!</p>
<ul>
  <li>iMac (Retina 5K, 27-inch, 2017)</li>
  <li>iPad Pro (11-inch)</li>
  <li>Apple Pencil</li>
  <li>iPhone 11 Pro</li>
  <li>AirPods Pro</li>
</ul>

<h3>Audio/Video/Podcasting</h3>
<p>These are things I use primarily for podcasting, but also for some hobby electronic music creation.</p>
<ul>
  <li>DBX 286S Preamp</li>
  <li>M-Audio Studiophile AV 40 Studio Monitors</li>
  <li>Behringer U-Phoria UMC404HD Audio Interface</li>
  <li>Logitech C920</li>
  <li>Audio-Technica ATR2100</li>
  <li>Akai MPK Mini MKII MIDI Keyboard</li>
  <li>Audio-Technica ATH-M40x Headphones</li>
</ul>

<h3>Maker</h3>
<p>The tools I use to design, prototype and produce physical products!</p>
<ul>
  <li>Glowforge Plus</li>
  <li>Creality CR-10S</li>
  <li>X-Carve</li>
</ul>

<h3>Software</h3>
<p>Apps I use just about every day.</p>
<ul>
  <li>1Password</li>
  <li>Adobe Creative Cloud</li>
  <li>CleanShot</li>
  <li>Deepnest</li>
  <li>Dropbox</li>
  <li>Figma</li>
  <li>Fusion 360</li>
  <li>Notion</li>
  <li>Simplify3D</li>
  <li>Sketch</li>
  <li>Slack</li>
  <li>Soulver</li>
  <li>Sublime Text</li>
  <li>Superhuman</li>
  <li>Things</li>
  <li>Trello</li>
  <li>Zoom</li>
</ul>