<h2>Health</h2>
<p>In 2020 I'm focusing on living a healthier and more sustainable lifestyle. I've always struggled with getting regular exercise as well as having a healthy weight.</p>
<p>I trained for and ran a marathon in 2019 and now I'm working on losing 50 pounds along with training for another marathon in late 2020. 🎉</p>

<h3>Weight Loss</h3>
<p>As of January 1, 2019, I'm 231 pounds with 30% body fat. At 6' 1", those numbers mean I'm considered obese.</p> 

<p>I'm following the slow carb diet (<a href="https://tim.blog/2012/07/12/how-to-lose-100-pounds/">as popularized by Tim Ferris</a>) and my goal weight is 180 pounds with 20% body fat.</p>

<h4>Weight Loss Progress</h4>
<p>
  <%= image_tag 'weighin_jan9.png', class: 'graph' %>
</p>

<h3>Marathon</h3>
<p>On April 28, 2019, I <a href="https://www.strava.com/activities/2326490991">ran a marathon</a>! It was brutal, but I'm really proud of myself for completing it.</p>