<h2>Learning</h2>
<p>Here are resources for learning various things that I've picked up over the years.</p>

<h3 id="programming">Programming</h3>

<h3 id="design">Design</h3>

<h3 id="business">Business</h3>

<h3 id="electronics">Electronics</h3>

<h3 id="woodworking">Woodworking</h3>