<h1>What I'm working on now</h1>
<p>I recently <a href="https://baremetrics.com/blog/i-sold-baremetrics">sold my tech company</a> and am mostly focused on just letting my brain have a break for a while. However, I do have a couple of things I'm spending some time on.</p>

<h3>Active projects</h3>

<div class="projects">
  <h4><a href="https://lasertweets.co">Laser Tweets</a></h4>
  <p>I got a <a href="https://glowforge.us/JTTLXZSA">Glowforge</a> and started brainstorming fun things to do with it. You send in your favorite tweets, and I laser etch them on wood...because of course you need it.</p>
  
  <h4><a href="https://cedarandsail.com">Cedar & Sail</a></h4>
  <p>My outlet for creating handmade homegoods, which I sell online and at local markets.</p>
</div>