<h1>What I'm working on now</h1>
<p>I've got a whole slew of projects going (more on that below), but my primary focus is being the Founder & CEO of <a href="https://baremetrics.com">Baremetrics</a>.</p>

<h3>All the projects</h3>

<div class="projects">
  <h4><a href="https://baremetrics.com">Baremetrics</a></h4>
  <p>A business insights company I founded in 2013. I'm the CEO of a fully-remote team of eight.</p>

  <h4><a href="https://cedarandsail.com">Cedar & Sail</a></h4>
  <p>My outlet for creating handmade homegoods, which I sell online and at local markets.</p>

  <h4><a href="https://lasertweets.co">Laser Tweets</a></h4>
  <p>I got a <a href="https://glowforge.us/JTTLXZSA">Glowforge</a> and started brainstorming fun things to do with it. You send in your favorite tweets, and I laser etch them on wood...because of course you need it.</p>

  <h4><a href="https://droptune.co">Droptune</a></h4>
  <p>New music notifications for Spotify and Apple Music. Find out about new music from the artists you love.</p>

  <h4><a href="https://rockburg.com">Rockburg</a></h4>
  <p>Music industry simulation game.</p>

  <h4><a href="https://plylst.app">PLYLST</a></h4>
  <p>Smart playlists for Spotify.</p>
</div>