<h1>Reading</h1>
<p>I go in phases with reading...sometimes consuming multiple books a month while other times taking months to read one book. This is a list of books I recommend. If Goodreads is your jam, <a href="https://www.goodreads.com/shpigford">I'm there as well</a>.</p>
<p><em>Currently these are in no particular order and are slim on additional info. I may add short reviews down the road.</em></p>

<h3>Fiction</h3>
<ul>
  <li><a href="https://www.amazon.com/dp/B016TG5RKG">The Last One</a></li>
  <li><a href="https://www.amazon.com/dp/B0180T0IUY">Dark Matter</a></li>
  <li><a href="https://www.amazon.com/gp/product/B072LDKG8L">The Extinction Files</a></li>
  <li><a href="https://www.amazon.com/gp/product/B01N7K9TM6">Nomad</a></li>
  <li><a href="https://www.amazon.com/dp/B0151HYRCS">Beacon 23</a></li>
  <li><a href="https://www.amazon.com/gp/product/B01LZDNDDQ">The Maze Runner</a></li>
  <li><a href="https://www.amazon.com/gp/product/B00PMGU4VC">Wayward Pines</a></li>
  <li><a href="https://www.amazon.com/dp/B003QCIPGK">Half Way Home</a></li>
  <li><a href="https://www.amazon.com/dp/B00EMXBDMA">The Martian</a></li>
  <li><a href="https://www.amazon.com/gp/product/B010JQXZ2O">Silo Series</a></li>
  <li><a href="https://www.amazon.com/dp/B0053JJLLC">Micro</a></li>
  <li><a href="https://www.amazon.com/dp/B00BT4QRHG">CyberStorm</a></li>
  <li><a href="https://www.amazon.com/dp/B004J4WKUQ">Ready Player One</a></li>
  <li><a href="https://www.amazon.com/dp/B0030H7UIU">Under the Dome</a></li>
  <li><a href="https://www.amazon.com/dp/B00HSXGYCK">Sand Omnibus</a></li>
  <li><a href="https://www.amazon.com/dp/B002LATV16">One Second After</a></li>
  <li><a href="https://www.amazon.com/dp/B000FBJHZS">Deception Point</a></li>
  <li><a href="https://www.amazon.com/dp/B000MAH7EK">Next</a></li>
  <li><a href="https://www.amazon.com/dp/B000FC13E0">Prey</a></li>
  <li><a href="https://www.amazon.com/dp/B000FC2NQW">State of Fear</a></li>
  <li><a href="https://www.amazon.com/dp/B000FC1GHO">Airframe</a></li>
</ul>

<h3>Non-Fiction</h3>
<ul>
  <li><a href="https://www.amazon.com/dp/B007A4SDCG">The War of Art: Break Through the Blocks & Win Your Inner Creative Battles</a></li>
  <li><a href="https://www.amazon.com/dp/B01L8C4WBG">American Kingpin: The Epic Hunt for the Criminal Mastermind Behind the Silk Road</a></li>
  <li><a href="https://www.amazon.com/dp/B072BLVM83">Educated: A Memoir</a></li>
  <li><a href="https://www.amazon.com/dp/0812972155">Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture</a></li>
  <li><a href="https://www.amazon.com/dp/B074DGYVD5">Lost and Founder: A Painfully Honest Field Guide to the Startup World</a></li>
  <li><a href="https://www.amazon.com/dp/1501135910">Shoe Dog: A Memoir by the Creator of Nike</a></li>
  <li><a href="https://www.amazon.com/dp/B06ZZ1YGJ5">Why We Sleep: Unlocking the Power of Sleep and Dreams</a></li>
  <li><a href="https://www.amazon.com/dp/B01LZ6RXS6">The Ends of the World: Volcanic Apocalypses, Lethal Oceans, and Our Quest to Understand Earth's Past Mass Extinctions</a></li>
  <li><a href="https://www.amazon.com/dp/B01HSMRWNU">Tools of Titans: The Tactics, Routines, and Habits of Billionaires, Icons, and World-Class Performers</a></li>
  <li><a href="https://www.amazon.com/dp/0374203032">What Money Can't Buy: The Moral Limits of Markets</a></li>
  <li><a href="https://www.amazon.com/dp/B00KVI76ZS">Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future</a></li>
  <li><a href="https://www.amazon.com/dp/B00Z71HW8A">#AskGaryVee: One Entrepreneur's Take on Leadership, Social Media, and Self-Awareness</a></li>
  <li><a href="https://www.amazon.com/dp/B00SI0B5FS">Anything You Want: 40 Lessons for a New Kind of Entrepreneur</a></li>
  <li><a href="https://www.amazon.com/dp/B003WEAI4E">How To Win Friends and Influence People</a></li>
  <li><a href="https://www.amazon.com/dp/B0055PGUYU">The Power of Habit: Why We Do What We Do in Life and Business</a></li>
  <li><a href="https://www.amazon.com/dp/B00EME5MNK">Junkyard Planet: Travels in the Billion-Dollar Trash Trade</a></li>
  <li><a href="https://www.amazon.com/dp/B002MUAJ2A">Rework</a></li>
  <li><a href="https://www.amazon.com/dp/B00TIZFO2W">The Song Machine: Inside the Hit Factory</a></li>
  <li><a href="https://www.amazon.com/dp/B001BAGWQE">Traffic: Why We Drive the Way We Do (and What It Says About Us)</a></li>
  <li><a href="https://www.amazon.com/dp/B007DCU4IQ">The Hot Zone: The Terrifying True Story of the Origins of the Ebola Virus</a></li>
</ul>