<h2>Reading</h2>
<p>I go in phases with reading...sometimes consuming multiple books a month while other times taking months to read one book. This is a list of books I recommend. If Goodreads is your jam, <a href="https://www.goodreads.com/shpigford">I'm there as well</a>.</p>
<p><em>Currently these are in no particular order and are slim on additional info. I may add short reviews down the road.</em></p>

<h3>Fiction</h3>
<ul>
  <li><a href="https://www.amazon.com/dp/B016TG5RKG">The Last One</a></li>
  <li><a href="https://www.amazon.com/dp/B0180T0IUY">Dark Matter</a></li>
</ul>

<h3>Non-Fiction</h3>
<ul>
  <li><a href="https://www.amazon.com/dp/B01L8C4WBG">American Kingpin: The Epic Hunt for the Criminal Mastermind Behind the Silk Road</a></li>
  <li><a href="https://www.amazon.com/dp/B072BLVM83">Educated: A Memoir</a></li>
  <li><a href="https://www.amazon.com/dp/0812972155">Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture</a></li>
  <li><a href="https://www.amazon.com/dp/B074DGYVD5">Lost and Founder: A Painfully Honest Field Guide to the Startup World</a></li>
  <li><a href="https://www.amazon.com/dp/1501135910">Shoe Dog: A Memoir by the Creator of Nike</a></li>
  <li><a href="https://www.amazon.com/dp/B06ZZ1YGJ5">Why We Sleep: Unlocking the Power of Sleep and Dreams</a></li>
  <li><a href="https://www.amazon.com/dp/B01LZ6RXS6">The Ends of the World: Volcanic Apocalypses, Lethal Oceans, and Our Quest to Understand Earth's Past Mass Extinctions</a></li>
</ul>