// Place all the styles related to the Toys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.toys {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  @media (max-width: 1400px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  div {
    transform: rotate(-1deg);
    transition: 0.2s ease-in-out;
    &:hover {
      transform: rotate(1deg);
      a {
        color: #2d3fd1;
      }
    }
  }
  img {
    max-width: 100%;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  p {
    font-size: 1.3em;
    margin-top: 5px;
    line-height: 1.1em;
  }
}

.toy_details {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  .images {
    img {
      max-width: 100%;
      padding: 10px;
      background: white;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
  table {
    font-size: 1.3em;
    th {
      text-align: left;
    }
    th,
    td {
      padding: 3px 15px;
    }
  }
  @media (max-width: 700px) {
    grid-template-columns: 100%;
    table {
      order: 1;
    }
    .images {
      order: 2;
    }
  }
}
